.hero {
    padding-top: 92px;
    background-color: var(--dark-blue);

}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    color: var(--white);
}

.hero-title--red {
    color: var(--red);
}

.hero-bottom-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--text);
    margin-bottom: 40px;
}

.hero-text-elon {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--important-text);
    margin-bottom: 31px;
}

.hero-logo {
    width: 200px;
    height: 185px;
    margin: 0 auto;
    margin-bottom: 41px;
}

.hero-join-btn {
    padding: 20px 70px;
    background: #E11D2E;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
}

.hero-info-btn {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 20px 45px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.9;
}

.contract-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 7px;
    padding-left: 14px;
}

.contract-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.2);
}

.contract {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.4);
}