.warning-text-wrapper {
    background: #5A4039;
    padding-top: 8px;
    padding-bottom: 8px;
}

.warning-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 245, 0, 0.6);
    height: 12.7px;
}

.warning-text--mod {
    margin-right: 15px;
}